.inputBox
{
    width: 500px;
    height: 300px;
}


.outputBox
{
    width: 100%;
    height: 500px;
}
.divHelp
{
    border: 3px solid #000000;
    position: absolute;
    top: 100px;
    left: 10px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
	display: none;
}
.divHelpText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #99CCFF;
}
.divHelpTextDark
{
    font-family: 'Courier New' , Courier, monospace;
    font-size: 12px;
    background-color: #D9ECFF;
}
.divHelpTextHighlight
{
    font-family: 'Courier New' , Courier, monospace;
    font-size: 12px;
    background-color: #FFFF99;
}
.header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.headerTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: bold;
	text-align: center;
	align: center;
}




.submitButton
{
    font-family: Tahoma;
    font-size: 14px;
	font-weight: bold;
}
td
{
    font-family: Tahoma;
    font-size: 12px;
}
.hLine
{
    width: 1px;
    height: 200px;
}
	
.headerAlert
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: bold;
	text-align: center;
	align: center;
	color: #0099FF;
}
.HL
{
	font-weight:bold;
	background-color:yellow;
}
.ActiveButton
{
	color: #000000;
	background-color:yellow;
	font-size: 20px;
}
.DisabledButton
{
	color: #B0B0B0
}



.cookieSelect
{
    border: 3px solid #000000;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #D9ECFF;
	display: none;
}
.cookieHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    
}

.cookieLink
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.cookieTag
{
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #D9ECFF;
    text-decoration: none;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
}
.blink {
  animation: blinker 6s step-start infinite;
  position: absolute;
  top: 10px;
  left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

